<h1><%=@movie.title%></h1>
<h2>By: <%=link_to @movie.critic.username, critic_path(@movie.critic)%> </h2>


<% if @movie.critic == current_critic %>
<h4><%= link_to "Edit Movie", edit_movie_path(@movie)%></h4>
<h4><%= link_to "Delete Movie", @movie, :method => :delete%></h4>
<% end %>

<div><%= @movie.description %></div>


<p><%= link_to 'Add a new review', new_movie_review_path(@movie)%></p>

<% if !@movie.reviews.empty? %>
  <p><%= link_to 'See all reviews', movie_reviews_path(@movie)%></p>
  <h4>Most Recent Reviews:</h4>
  <% @movie.reviews.order(updated_at: :desc).limit(3).each do |r|%>
    <li>
      <strong><%= r.critic.username%></strong> says "<%= link_to r.content, movie_review_path(@movie,r)%>" at <%= r.updated_at.strftime("%I:%M %p on %m/%d/%Y") %>
    </li>
  <% end %>
<% end %>